@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .sr-only {
  display: none;
} */

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

button:hover {
  opacity: 0.9;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* font-family: "Inter", sans-serif; */
  font-family: "Inter" !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: "Inter" !important;
  /* background: #FFFFFF !important; */
  /* background: transparent !important; */
}